
/* Box Model Hack */
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* Clear fix hack */
.group:after{
    display: block;
    content: " ";
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html{font-size:100%;}

body {
    color: #606161;             /* light grey */
    font-size: 1em;             /* 16px */
    font-weight: 300;
    line-height: 1.4;
    background-color: #f0efef;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
    margin: 0 auto;
    max-width: 960px;
}

.logo {
    padding-top: .625em; /* 10px */
}


.visually-hidden {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
}

.hidden{display: none;}

.page header {
    padding: 1.5em 0;          
    overflow: hidden;
    background: #033048;       
}

.main-content {margin: 2.5em auto 1.25em;}  

.post {
    padding-bottom: 1.25em;     
    border-bottom: 1px solid #033048;
}

.post,
.post img,
.sidebar ul,
.about-us{margin-bottom: 1.25em;}   


footer {
    text-align: center;
    background: #121212;        
    padding: 3.125em 0 .625em; 
}

footer ul {margin: 3.125em 0;}  


footer li {
    margin: 0 .625em;         
    display: inline;
    list-style: none;
}

footer li a {padding: .5em;}   


/* Landing page */

.landing-page header {
    padding: 1.5em 0 3em;       
    position: relative;
    background: url(../images/header_bg.jpg) no-repeat top center #121212;
    background-size: cover;
}

.benefits {padding: 3em 0; } 

.benefits ul {
    list-style: disc;
    margin: 1.25em 0 0 3em;  
}

.testimonial {
    color: white;
    padding: 3em 0;             
    position: relative;
}

.landing-page h1 {
    color: white;
    font-size: 2em;           
    font-weight: 600;
    text-align: center;
    margin: 2.5em 0 1.875em;   
    margin: 5rem 0 3.75rem;     
}

.landing-page h2 {
    color: #033048;             
    font-size: 1.625em;       
    font-weight: 600;
    margin-bottom: .6em;
    margin-bottom: 1rem;       
}

.testimonial blockquote {
    margin: 0 auto;
    font-size: 1.3em;        
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.testimonial blockquote span {
    display: block;
    font-weight: 600;
    font-style: normal;
}

.main-nav a,
footer .logo {color: #f9e42e;}  

.page h2 a,
.readlink,
.sidebar a,
.sidebar h3,
.sidebar p {color: #033048;}  


.main-nav a {
    font-size: 1em;            
    font-weight: 600;
}

.page h2 {
    font-size: 1.5em;         
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: .769em;
    margin-bottom: 1.25rem;      
}

.post p:first-of-type:first-letter {
    float: left;
    font-size: 3.25em;         
    font-weight: 600;
    line-height: 0.85;
    padding:.4px 8px 8px 4px;
    padding:.25rem .5rem .5rem .25rem;
}



p {margin-bottom:1.25em;}     

.readlink {
    display:block;
    text-align: right;
}

.readlink,
.about-us a {font-weight: 600;}

.sidebar h3 {
    font-size: 1.25em;      
    font-weight: 800;
    margin-bottom: .5em;       
    margin-bottom: .625rem;    
}

.signup-form h3{
    font-size: 1.625em;       
    font-weight:300;
}

.about-us p {
    font-size: .875em;       
    line-height: 1.2;
}

footer p {
    color: white;
    font-size: .75em;         
    font-weight: 600;
}

.button {
    width: 10.44em;
    width: 11rem;         
    display: block;
    margin: 0 auto;
    padding: .666em 0;
    padding: .75rem 0;       
    font-size: 1em;     
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
}

.yellow {
    color: #033048;
    background: #f9e42e;  
}

.blue {
    color: white;
    font-size: 1em;           
    background: #033048;      
}

.newsletter-signup {
    padding: 1.25em;         
    text-align: center;
    background: #f9e42e;     
}

.main-nav a {padding: .75em .25em;}  
.mobile-nav{float:right;}

.signup-form{margin:0 auto;}
form{line-height: 1.5;}
button{border:none;}

form > div{margin:1em 0;}
fieldset div{margin-top:1em;}

.select-area,
select,
input{
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    padding: .25em .375em;        
    border: none;
    color: #121212;
    background:none;
    outline: none;
    position: relative;
}

.select-area,
input{border-bottom: 1px solid #121212;}

.select-area{padding:0;}

.select-area::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #444;
    bottom: 0;
    content: "";
    height: 0;
    margin: auto;
    position: absolute;
    right: 8px;
    top: 0;
}

.input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    z-index: 2;
}

@media screen and (max-width:767px) {
    .page header{padding-bottom:.5em;}
    .logo img{
        max-width: 130px;
        height: auto;
    }

    .container{width:90%;}
    .sidebar{text-align:center;}

    .main-nav{
        overflow:hidden;
        clear:both;
        margin-top:1em;
        height:0;
        transition:height 1s;
    }
    .main-nav.open{
        height:17.5em; 
    }

    .main-nav a {
        display:block;
        background:rgba(255,255,255,0.1);
        margin-top:.5em;
        padding-left: 1em;
    }

/*    Mobile Nav
*/    .mobile-nav{
        display: block;
        position:relative;
        margin-top:.4em;
        height:2em;
        width:2.25em;
        transform:rotate(0deg);
    }
    .mobile-nav span{
        position:absolute;
        background: white;
        width:100%;
        height:3px;
        border-radius:30px;
        transition:all 1s;
        transform:rotate(0deg);
    }
    .mobile-nav span:nth-child(1){top:0px;}
    .mobile-nav span:nth-child(2){top:.625em;}
    .mobile-nav span:nth-child(3){top:1.25em;}
    .mobile-nav.open span:nth-child(1){
        transform:rotate(45deg);
        top: .625em; 
        left: 0px;
    }
    .mobile-nav.open span:nth-child(2){opacity:0;}
    .mobile-nav.open span:nth-child(3){
        transform:rotate(-45deg);
        top: .625em; 
        left: 0px;
    }

    /* FORM */
    .signup-form{max-width:360px;}
    select,
    input:not([type="radio"]):not([type="checkbox"]){width: 100%;}

    div > label:not(.radio):not([for="terms"]){display:block;}

    /* STATE */
    a:active,
    .main-nav a:active{color: white;}
    .main-nav a:active {background:rgba(255,255,255,0.2);}

    .page h2 a:active,
    .readlink:active,
    .sidebar a:active{color: #121212;}    

    .blue:active{color: #f9e42e;}   

/* Tablet/Desktop -----------------------*/
@media screen and (min-width:768px) {

    /* BASE */
    html{font-size:1.5em;}

    a:hover,
    .main-nav a:hover,
    .page h1 a:hover,
    .readlink:hover,
    .sidebar a:hover{
        text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
        -webkit-transition:     all .1s;
        -o-transition:          all .1s;
        transition:             all .1s;
    }

    .button:hover{box-shadow: 2px 2px 5px rgba(0,0,0,0.4);}

    /* LAYOUT */
    .posts-section {
        width: 72.92%;             
        margin-right: 2%;          
        vertical-align: top;
        display: inline-block;
    }

    .sidebar {
        width: 25%;                 
        vertical-align: top;
        display: inline-block;
    }
    .container{
        padding-left:.25em;
        padding-right:.25em;
    }

    .landing-page header {height:29em;}     
    .testimonial blockquote {width: 60%;}

    .main-nav {float:right;}
    .main-nav a {margin-left:1.25em;}     

    /* FORM */
    .signup-form{width:570px;}

    form > div,
    fieldset{
        text-align: left;
        overflow:hidden;
        clear:both;
    }

    legend,
    label:not(.radio):not([for="terms"]){
        float:left;
        width:200px;
        margin-top:.25em;
        font-weight: bold;

    }
    .select-area,
    select,
    fieldset div,
     .agree-to-terms,
    input:not([type="radio"]):not([type="checkbox"]){
        float:right;
        width: 400px;
    }

